@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

  

body, p{
    /* font-family: -apple-system, BlinkMacSystemFont, 'Nanum Myeongjo', Roboto, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Nanum Myeongjo', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #4c4c4c;
  }
  

  h1, h2, h3, h4, h5 {
    font-family: 'Nanum Myeongjo', sans-serif;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }


  h5 {
    letter-spacing: 4px;
  }

  p{
    line-height: 30px;
  }


.bold{
  font-weight: bold;
}
  

  .pad-15{
    padding: 15px;
  }

.pad-60{
  padding: 60px;
}







.invitation{
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #4c4c4c;
 }



.icon{
    width:25px;
    height:25px;
}

.divider{
  width: 100px;
}

.full-page{
    width: 100%;
}

.contact{
    float: left;
    width:50%;
}

.bgGray{
    background-color: #f1f3f5;
    padding: 30px;
    height: 200px;
}

.center{
    text-align: center;
}


/* gallery css */
.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:5px;
      padding-top:5px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:10px;
  }
  
  .photo-gallery .item {
    padding:3px;
    object-fit: cover;
    overflow: hidden;
  }
  
  
